---
import DatasetComp from "../../components/u/DatasetComp";
import LayoutPriv from "../../layouts/LayoutPriv.astro";

---

<LayoutPriv title="Welcome to AiRis.id">

	
	<main class="max-w-screen-2xl mx-auto">
		<div class="flex flex-col lg:flex-row items-start justify-start gap-8">
			<DatasetComp client:only="react"/>		
		</div>

	</main>
</LayoutPriv>
