---
const res = await fetch('http://127.0.0.1:5001/ds/original_data');
const data = await res.json();
const nd = JSON.parse(data)
import Layout from "../../layouts/Layout.astro"

console.log("nd")
---


<!-- <section class="cf">

    <div class="wp">
        <ul class="flex flex-wrap">
            {nd && nd.map((r, i) => (
                <li>{r.word}</li>

            ))}
        </ul>
    </div>
</section> -->

<Layout title="Welcome to AiRis.id">

	
	<main class="max-w-screen-2xl mx-auto">
		<div class="flex flex-col lg:flex-row items-start justify-start gap-8">
		
			<div class="w-full">
                <div class="flex flex-wrap gap-2">
                    <!-- <div>01</div>
                    <div>02</div> -->
                    {nd && nd.map((r, i) => (
                        <div>{r.word} {r.tag == 'O' ? `` : r.tag}</div>
                        // <li>{r.word}</li>
        
                    ))}
                  </div>
          
			</div>
		
		</div>

	</main>
</Layout>
