@tailwind base;

@layer base{
    .h1 {
        @apply text-2xl lg:text-4xl
    }
    .h2 {
        @apply text-xl lg:text-2xl
    }
    .h2 {
        @apply text-xl lg:text-xl
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .form {
		@apply flex flex-col px-8 gap-2
	}
	.form-input{
		@apply bg-slate-50 px-4 py-2 rounded-lg shadow-md h-10
	}
    

}