---
import LayoutPrivAdmin from "../../layouts/LayoutPrivAdmin.astro"
import AirisComp from "../../components/adm/Airis"
---
<LayoutPrivAdmin title="Welcome Admin AiRis.id">

    <main class="max-w-screen-2xl px-4 mx-auto mt-2">
        <AirisComp client:load />
     </main>
</LayoutPrivAdmin>
