---
import HSidebar from "./SideBar.astro"
---
<div class="flex flex-col py-16 md:py-32 lg:py-32 gap-4 h-screen overflow-x-hidden no-scrollbar">
    <div class="flex flex-col lg:flex-row gap-4">
        <div class="w-full flex flex-col gap-4">
            <div class="flex flex-col gap-4">
                <h1 class="h1 font-bold">Welcome to AIRIS</h1>
                <p class="text-md text-slate-500">This is the official documentation for tagtog, an efficient text annotation tool ready to train AI. Available on the Cloud and on-Premises. Easy. <br />
        
                    Below you can find a brief summary with the main features of tagtog and an overview of what you can achieve using this tool. For more in-depth information or tutorials, use the navigation to the left to explore our documentation.</p>
            </div>
            <div>
                <h2 class="h2 font-bold">What can you achieve?</h2>
                <h3 class="h3 font-bold">Manual text annotation</h3>
                <p class="text-md text-slate-500">Use the text annotation editor to quickly annotate and normalize entities (overlapping annotations supported), add entity labels, relations and more. If you just need to annotate at document level, you can use labels to tag documents. The user interface adapts automatically so you only see what you need. No more complex or non-intuitive annotating systems/interfaces, engage your domain experts from the very beginning.
        
                    Too much work for a single person? Invite others and work in group. Each annotator can annotate the same text to facilitate the review process and to meet quality requirements. Once the annotations are completed, you can adjudicate, and export them to JSON format.</p>
            </div>
            <div>
                <img src="https://docs.tagtog.com/assets/img/editor-mainview-described.jpg" />
            </div>
        </div>

        <HSidebar />
    </div>
 

</div>