---
let name = "hode"
---
<div class="flex flex-col gap-4 h-screen overflow-x-hidden no-scrollbar mt-12">
    <div class="flex flex-col lg:flex-row gap-4">
        <div class="w-full flex flex-col gap-4">
            <div class="flex flex-col gap-4">
                <h1 class="h1 font-bold">Welcome to AIRIS !</h1>
                <p class="text-md text-slate-500">
                    Welcome to the Community Artificial Intelligence Research on Islamic Knowledge, an innovative and interdisciplinary initiative spearheaded by the distinguished lecturers of UIN Syarif Hidayatullah Jakarta. Our community is committed to advancing the frontiers of both artificial intelligence (AI) and Islamic scholarship through collaborative research and cutting-edge technological solutions.
                </p>
            </div>
            <div>
                <h2 class="h2 font-bold">What can you achieve?</h2>
                <h3 class="h3 font-bold">Manual text annotation</h3>
                <p class="text-md text-slate-500">Use the text annotation editor to quickly annotate and normalize entities (overlapping annotations supported), add entity labels, relations and more. If you just need to annotate at document level, you can use labels to tag documents. The user interface adapts automatically so you only see what you need. No more complex or non-intuitive annotating systems/interfaces, engage your domain experts from the very beginning.
        
                    Too much work for a single person? Invite others and work in group. Each annotator can annotate the same text to facilitate the review process and to meet quality requirements. Once the annotations are completed, you can adjudicate, and export them to JSON format.</p>
            </div>
            <div>
                <img src="/assets/images/anotated01.jpeg" />
            </div>
        </div>

    </div>
 

</div>