


<div class="w-60">
    <div class="flex flex-col gap-4">
        <div>
            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20240319155102/what-is-ai-artificial-intelligence.webp" 
            class="rounded-md"
            />

        </div>
        <div>
            <img src="https://static.promediateknologi.id/crop/0x0:0x0/0x0/webp/photo/p2/01/2024/02/28/image012-1262533686.png" 
            class="rounded-md"
            />

        </div>
    </div>
</div>