---
import menu from "../constants/menu.json"

---


<div class="flex flex-col pb-[70px]">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Inu_logo.jpg"
    width="100px"
    height="100px"
    alt="logo"
    />
    {menu.map((r, i) => (
        <div class="">
            <h2 class="text-lg font-bold text-emerald-600">{r.title}</h2>
            <ul>
            {r.subMenu.map((d, di) => (
                <li class="text-sm mr-4">
                    <a href={d.path} class="hover:text-emerald-700 capitalize">

                    {d.subTitle}
                    </a>
                    </li>
        
            ))}
            </ul>

        </div>

    ))}
</div>

