---
import menu from "../constants/menu.json"
---

<div class="p-4 h-screen overflow-x-auto no-scrollbar">
    <img src="https://corpus.quran.com/images/logo.png" />
    {menu.map((r, i) => (
        <div class="mb-3">
            <h2 class="text-md font-bold">{r.title}</h2>
            <ul>
            {r.subMenu.map((d, di) => (
                <li>{d.subTitle}</li>
        
            ))}
            </ul>

        </div>

    ))}
</div>