

<header class="w-full bg-slate-100 shadow-md">
    <div class="w-full max-w-screen-2xl mx-auto px-4 py-2">
        <div class="flex flex-row items-center justify-between">
            <div>
                <span class="text-2xl font-bold text-orange-600">AiRis.id</span>
            </div>
            <div class="flex gap-4">
                <a class="text-sm font-bold">Home</a>
                <a class="text-sm font-bold">Login</a>
                <a class="text-sm font-bold">Community</a>
            </div>

        </div>
    </div>

</header>