

<header class="fixed top-0 left-0 right-0 h-[7vh] bg-slate-50 shadow-lg z-30">
    <div class="w-full max-w-screen-2xl mx-auto px-4 py-2">
        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-col">
                <span class="text-xl md:text-2xl font-bold text-orange-600">AiRis.id</span>
                <span class="text-xs md:text-xs text-emerald-600">AI Research On Islamic Knowledges</span>
            </div>
            <div class="gap-4 hidden md:flex">
                <a href="/" class="text-sm text-slate-700 hover:text-emerald-600 duration-500 font-bold">Home</a>
                <a href="/about-us" class="text-sm text-slate-700 hover:text-emerald-600 duration-500 font-bold">About Us</a>
                <a href="/auth/login" class="text-sm text-slate-700 hover:text-emerald-600 duration-500 font-bold">Login</a>
            </div>
            <div class="gap-4 block sm:hidden">
               <button id="menu-button">X</button>
            </div>

        </div>
    </div>
    <div id="mobile-menu" class="backdrop-blur-sm bg-white/30 absolute top-0 h-screen w-full z-50 mt-[60px] ease-in-out duration-500  flex-col -translate-x-full">
        <div class="w-full z-40">
            <ul>
                <li class="py-2 hover:bg-emerald-300 font-bold hover:text-white rounded-lg duration-500 px-4 cursor-pointer"><a href="/">Home</a></li>
                <li class="py-2 hover:bg-emerald-300 font-bold hover:text-white rounded-lg duration-500 px-4 cursor-pointer"><a href="/auth/login">Login</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- 
<header class="fixed top-0 left-0 right-0 h-[7vh] bg-slate-300">

</header> -->


<script>
    const toggleButton = document.getElementById('menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    toggleButton.addEventListener('click', () => {
      const isOpen = mobileMenu.classList.contains('translate-x-0');

      if (isOpen) {
        mobileMenu.classList.remove('translate-x-0');
        mobileMenu.classList.add('-translate-x-full');
      } else {
        mobileMenu.classList.remove('-translate-x-full');
        mobileMenu.classList.add('translate-x-0');
      }
    });
  </script>