---
import ChangeLanguage from "./ChangeLanguage"

const menu = [
    {
        title : 'Airis',
        level : "admin",
        path : "/adm/airis"
    },
    {
        title : 'Dataset',
        level : "user",
        path : "/u/dataset"
    },
    {
        title : 'Validator',
        level : "validator",
        path : "/u/validator"
    },
]

let level = 'validator'

let menuUsr = menu && menu.filter(it => it.level === level)
---

<header class="w-full bg-slate-50 shadow-md">
    <div class="w-full max-w-screen-2xl mx-auto px-4 py-2">
        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-col">
                <span class="text-2xl font-bold text-orange-600">AiRis.id</span>
                <span class="text-xs text-emerald-600">AI Research On Islamic Knowledges</span>
            </div>
            <div class="flex gap-4 capitalize">
                <a href="/u/dashboard" class="text-sm font-bold">Dashboard</a>
                {menuUsr && menuUsr.map((it) => (
                    <a href={it.path} class="text-sm font-bold">{it.title}</a>

                ))}
                <a href="/u/account" class="text-sm font-bold capitalize">account</a>
                <ChangeLanguage client:only="react" />
                <a id="logoutLink" href="/" class="text-sm font-bold">Logout</a>
            </div>
        </div>
    </div>

</header>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
      const logoutLink = document.getElementById('logoutLink');
      
      logoutLink.addEventListener('click', (event) => {
        event.preventDefault();
        
        localStorage.removeItem('access_token');
        localStorage.removeItem('data');
        window.location.href = '/'; // Uncomment this line if you want to navigate to the home page
      });
    });
  </script>