---
interface Props {
	title: string;
}

const { title } = Astro.props;
import TopNavPriv from "../components/TopNavPriv.astro";
import "../styles/base.css"
import PrivateRoute from "./PrivateRoute";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="AIRIS | AI Research Islamic Knowledges" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
	</head>
	<body>
		<TopNavPriv />
		<PrivateRoute client:only="react">
			<slot />

		</PrivateRoute>
	</body>
</html>