---
interface Props {
	title: string;
}

const { title } = Astro.props;
import TopNavPriv from "../components/TopNavPriv.astro";
import "../styles/base.css"
import PrivateRoute from "./PrivateRoute";
import { ToastContainer } from 'react-toastify';
import 'react-toastify/dist/ReactToastify.css';
// Supports weights 100-900
import '@fontsource/amiri';
import { GoogleOAuthProvider } from '@react-oauth/google';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="AIRIS | AI Research Islamic Knowledges" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
	</head>
	<body>
		<TopNavPriv />
		<PrivateRoute client:only="react">
			<GoogleOAuthProvider client:only="react" clientId="336834040279-b4m8ei3a7ef1sk7uklka9e27jpaor9j8.apps.googleusercontent.com">
				<slot />

			</GoogleOAuthProvider>

	

		</PrivateRoute>
		<ToastContainer client:idle />

	</body>
</html>
